.project-list {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  -webkit-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  -moz-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
}
.project-list:hover {
  border-left: 5px solid blueviolet;
  cursor: pointer;
  transition-duration: 1s;
}
.title-and-collapse-option {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.tech-used-in-project {
  margin-top: 20px;
  margin: 5px;
}

.tech-used-in-project p:hover {
  background-color: black;
}
.tech-used-in-project p {
  background-color: rgb(12, 105, 34);
  color: white;
  border-radius: 90px;
  padding: 8px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.live-demo-button {
  background-color: brown;
  border-radius: 90px;
  width: fit-content;
}

.live-demo-button a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 5px;
}
.live-demo-button:hover {
  background-color: blueviolet;
  transition-duration: 1s;
}
.description {
  margin: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
