.home {
  height: 400px;
  color: white;
  margin-left: 80px;
  position: relative;
}

.home-content {
  padding: 10px;
  margin-top: 100px;
}

.home-content h3 {
  margin-top: 30px;
  color: rgb(225, 236, 170);
}

.button-for-action {
  display: flex;
}

.hire-me-button {
  background-color: rgb(187, 198, 24);
  text-align: center;
  width: 180px;
  padding: 10px;
  border-radius: 90px;
  cursor: pointer;
  margin-top: 10px;
  border: 2px solid yellow;
  font-size: 17px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.hire-me-button:hover {
  background-color: seashell;
  width: 250px;
  color: black;
  transition-duration: 1s;
}

.get-resume-button {
  background-color: rgb(240, 136, 9);
  text-align: center;
  width: 180px;
  padding: 10px;
  border-radius: 90px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
  border: 2px solid rgb(232, 167, 14);
  font-size: 17px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.get-resume-button:hover {
  background-color: seashell;
  width: 250px;
  color: black;
  transition-duration: 1s;
}
.get-resume-button a {
  text-decoration: none;
  color: aliceblue;
}
.get-resume-button a:hover {
  color: black;
}
